# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# scripts memo
dev.md

# os key files
credentials/android/keystores/
credentials/ios/

# store access key
.key/

# firebase private setting
src/utils/firebase.config.ts

# backup
/backup/

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo



# test artifacts
playwright-report/
test-results/
